<label class="profile-input-block__label" for="{{ for }}">{{ label }}</label>
<input class="profile-input-block__input" type="{{ type }}" id="{{ id }}" name="{{ name }}"
  placeholder="{{ placeholder }}" />
