<div class="login">
  <h2 class="login__title">{{ title }}</h2>
  <form class="sign-form sign-form_type_login">
    <fieldset class="sign-form__fieldset">
      {{{loginInput}}}
      {{{passwordInput}}}
      {{{submitButton}}}
    </fieldset>
  </form>
  <a class="sign-form__link" href="/sign-up" target="_self">{{ linkText }}</a>
</div>
