<div class="login">
  <h2 class="login__title">{{ title }}</h2>
  <form class="sign-form sign-form_type_login">
    <fieldset class="sign-form__fieldset">
      {{{loginInput}}}
      {{{passwordInput}}}
      {{{submitButton}}}
    </fieldset>
  </form>
  <button class="sign-form__link-button" type="button">{{ linkText }}</button>
  <p class="login__error">Неверный логин или пароль</p>
</div>
