{{{back}}}

{{{avatarPopup}}}

<main class="profile-main">
  <div class="profile">
    {{{avatar}}}

    <h2 class="profile__name">Денис</h2>

    <form class="profile__form edit-form">
      <fieldset class="profile__fiedlset edit-form__fieldset">
        {{{emailInputBlock}}}

        {{{loginInputBlock}}}

        {{{firstnameInputBlock}}}

        {{{surnameInputBlock}}}

        {{{pseudonymInputBlock}}}

        {{{phoneInputBlock}}}

        {{{buttonGroup}}}
        {{{submitButton}}}
      </fieldset>
    </form>
  </div>
</main>
