<div class="sign-up">
  <h2 class="sign-up__title">{{ title }}</h2>
  <form class="sign-form sign-form_type_sign-up">
    <fieldset class="sign-form__fieldset">
      {{{emailInput}}}
      {{{loginInput}}}
      {{{firstnameInput}}}
      {{{surnameInput}}}
      {{{phoneInput}}}
      {{{passwordInput}}}
      {{{repeatPasswordInput}}}
      {{{submitButton}}}
    </fieldset>
  </form>
  <a class="sign-form__link" href="/login" target="_self">{{ linkText }}</a>
</div>
