<div class="chat-item__avatar-container">
  <img class="chat-item__avatar" src={{ userAvatar }} />
</div>
<div class="chat-item__message-block">
  <h2 class="chat-item__name">{{ userName }}</h2>
  <p class="chat-item__message">{{ messageText }}</p>
</div>
<div class="chat-item__notification">
  <p class="chat-item__time">{{ sentAt }}</p>
  <div class="chat-item__unread-amount">{{ unreadMessagesAmount }}</div>
</div>
