<div class="chat-item__avatar-container">
  <img class="chat-item__chat-avatar" src='https://ya-praktikum.tech/api/v2/resources{{ avatar }}' alt="Аватар" />
</div>
<div class="chat-item__message-block">
  <h2 class="chat-item__name">{{ title }}</h2>
  <p class="chat-item__message">{{ content }}</p>
</div>
<div class="chat-item__notification">
  <p class="chat-item__time">{{ time }}</p>
  <div class="chat-item__unread-amount">{{ unread_count }}</div>
</div>
