{{{back}}}

<main class="edit-password-main">
  <div class="edit-password">
    {{{avatar}}}

    <form class="edit-password__form edit-form">
      <fieldset class="edit-password__fiedlset edit-form__fieldset">
        {{{oldPasswordInputBlock}}}

        {{{newPasswordInputBlock}}}

        {{{repeatNewPasswordInputBlock}}}

        {{{submitButton}}}
      </fieldset>
    </form>
  </div>
</main>
