<button class="dropdown-{{ childrenClass }}__button dropdown__button_type_image" type="button">
  <div class="dropdown-{{ childrenClass }}__icon dropdown-{{ childrenClass }}__icon_type_image"></div>
  <p class="dropdown-{{ childrenClass }}__text">Фото или Видео</p>
</button>
<button class="dropdown-{{ childrenClass }}__button dropdown__button_type_file" type="button">
  <div class="dropdown-{{ childrenClass }}__icon dropdown-{{ childrenClass }}__icon_type_file"></div>
  <p class="dropdown-{{ childrenClass }}__text">Файл</p>
</button>
<button class="dropdown-{{ childrenClass }}__button dropdown__button_type_location" type="button">
  <div class="dropdown-{{ childrenClass }}__icon dropdown-{{ childrenClass }}__icon_type_location"></div>
  <p class="dropdown-{{ childrenClass }}__text">Локация</p>
</button>
